.button{
    border-radius: 5%;
    color:white;
}

.startButton{
    background-color: green;
}

.stopButton{
    background-color: red;
}

.timer{
    font-size: 30px;    
}

div{
    text-align: center;
}